@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

@media print {
  :root {
    color-scheme: light;
  }

  body {
    background: white;
  }

  main {
    max-width: none !important;
    padding: 0 !important;
  }

  section {
    box-shadow: none !important;
  }

  * {
    print-color-adjust: exact;
  }
}
